<% if can? :create, Comment %>
    <%= render partial: "comments/form", locals: {site: site} %>
<% end %>

<ul>
  <% site.comments.persisted.each do |comment| %>
      <li>
        <h3><i class="fa fa-comment"></i> <%= comment.user.name %>
        	<small> <%= l comment.created_at, format: :long %> </small>
        </h3>
        <p><%= comment.content %></p>
      </li>
  <% end %>
</ul>
