<div class="detailBox">
    <div class="titleBox">
      <label>Comment Box</label>
       
    </div>
    <div class="commentBox">
        
        <p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div class="actionBox">
        <ul class="commentList">
            <% site.comments.each do |comment| %>
            <li>
                <div class="commenterImage">
                  <img src="http://placekitten.com/50/50" />
                </div>
                <div class="commentText">
                    <p class=""><%= comment.content %></p> <span class="date sub-text">on <%= comment.created_at %> by <%= comment.user.name %></span>

                </div>
            </li>
            <% end %>
        </ul>
        <% if can? :create, Comment %>
        <%= render partial: "comments/form", locals: { site: site } %>
        <% end %>
    </div>
</div>