<%= form_for([site, site.comments.new], :html=>{class: "form-inline"}) do |f| %>
  <div class="form-group">    
    <%= f.text_field :content,  class: "form-control", placeholder: t('comments.your_comment') %>
  </div>
  <div class="form-group">
    <%= f.submit I18n.t('comments.add'), class:"btn btn-default"%>
  </div>
<% end %>
