<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav navbar-nav">
    <% @site.pages.each do |page| %>
    <li class="nav-item">
      <a class="nav-link" href="#"><%= page.title %></a>
    </li>
    <% end %>
  </ul>
</nav>
