<style>
@media (min-width: 768px) {
  .navbar-collapse {
    height: 100%;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.navbar
{
  max-width:300px;
  margin-right: 0;
  margin-left: 0;
  height:100%;
  
} 

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}


.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
}
</style>
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    </button>
    <p class="navbar-brand"><%= @site.title %></p>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
     <% @site.pages.each do |page| %>
      <li><a href="#"><%= page.title %></a></li>
       <% end %>      
    </ul>
      </div><!-- /.navbar-collapse -->
</nav>