<script src="http://www.appelsiini.net/download/jquery.jeditable.mini.js"></script>

<style type="text/css">
.column{
	width:49%;
	margin-right:.5%;
	min-height:300px;
	background:#fff;
	float:left;
}
.column .dragbox{
	margin:5px 2px  20px;
	background:#fff;
	position:relative;
	border:1px solid #ddd;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.column .dragbox h2{
	margin:0;
	font-size:12px;
	padding:5px;
	background:#f0f0f0;
	color:#000;
	border-bottom:1px solid #eee;
	font-family:Verdana;
	cursor:move;
}
.dragbox-content{
	background:#fff;
	min-height:100px; margin:5px;
	font-family:'Lucida Grande', Verdana; font-size:0.8em; line-height:1.5em;
}
.column  .placeholder{
	background: #f0f0f0;
	border:1px dashed #ddd;
}
.dragbox h2.collapse{
	background:#f0f0f0;
}
.dragbox h2 .configure{
	font-size:11px; font-weight:normal;
	margin-right:30px; float:right;
}
</style>

<div class="row">
  <div class="col-xs-6 col-md-4">
  	<div class="btn-toolbar">
	  <div class="btn-group-vertical">
	      <a href="#" class="btn btn-inverse">Text</a>
	      <a href="#" class="btn btn-inverse">Image</a>
	      <a href="#" class="btn btn-inverse">Table</a>
	  </div>
	  <div class="btn-group">
	      <a href="#" class="btn btn-inverse"><i class="icon-white icon-trash"></i></a>
	  </div>
	</div>
  </div>
  <div class="col-xs-12 col-md-8">
  	<%= render "page" %>
  </div>
  
</div>


<a href="#" class="btn btn-inverse" id="save-btn">Save</a>


<script type="text/javascript" >

$(document).ready(function() {
     $('.edit_area').editable(function(value, settings) {
     console.log(this);
     console.log(value);
     console.log(settings);
     return(value);
  }); 
 });

$(document).ready(function() {
	$('.column').sortable({  
    connectWith: '.column',    
    cursor: 'move',  
    placeholder: 'placeholder',  
    forcePlaceholderSize: true,  
    opacity: 0.4,  
})  
.disableSelection(); 

	$('#save-btn').click(function(e) {
		e.preventDefault();
	  var items=[];  
    $('.column').each(function(){  
        var columnId=$(this).attr('id');  
        $('.dragbox', this).each(function(i){
        	console.log($(this).data('id'));   
            var item={  
                id: $(this).data('id'),   
                order : i,  
                type: $(this).data('type'),
                div_id: columnId  
            };  
            //Push item object into items array  
            items.push(item);  
        });  
    });  
    //Assign items array to sortorder JSON variable  
    var sortorder={ items: items };  
    console.log(sortorder);

    //  $.patch(window.location.pathname.replace("edit",""), 'data='+$.toJSON(sortorder), function(response){  
    //     if(response=="success")  
    //         $("#console").html('<div class="success">Saved</div>').hide().fadeIn(1000);  
    //     setTimeout(function(){  
    //         $('#console').fadeOut(1000);  
    //     }, 2000);  
    // });  
 	 $.ajax({
            type: "PATCH",
            url: window.location.pathname.replace("edit",""),
            data: {page_elements: JSON.stringify( sortorder )},
            dataType: 'json',
            success: function(msg) {
            	console.log("success")

            }
           
        });
});
});
</script>