<p id="notice"><%= notice %></p>
<%= image_tag @picture.image.thumb('400x200#').url if @picture.image_stored? %>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
