<div class="well">
  <%= form_tag search_path, method: "get", class: "form form-inline" do %>
    <div>
        <div>
          <%= text_field_tag :searches, params[:searches],  class: "form-control", placeholder: t('menu.search') %>
        </div>
        <div>
          <%= select_tag 'filter', options_for_select(searchOptions, params[:filter] || "Sites"), class: "form-control" %>
        </div>
    </div>
    <div>
      <%= submit_tag t('menu.search'), :name => nil, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>