/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "jquery-ui";
@import "editable/bootstrap-editable";
@import "jqcloud";
@import "jquery-ui.theme";


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0px;
  background-color: #f2f2f2;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.sidenav {
  background-color: #f1f1f1;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: 100%;
    padding: 15px;
    background-color: #f1f1f1;
  }
  .row.content {height:1auto;}
}

.height-column{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  border:1px dashed #ddd;
}
.height-row {
  height: auto; 
  overflow: hidden;
}
.edit-class {
	margin:5px 2px 2px 20px;
	background:#fff;
	position:relative;
	border:1px solid #ddd;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.show-class {
  margin:5px 2px 2px 20px;
  position:relative;
  padding: 10px;
}

.placeholder{
	background: #f0f0f0;
	border:1px dashed #ddd;
}

div iframe{
	display:block; 
	margin:10px 1% 10px 1%;
	width:98%;
}
.panel {
	margin:10px 10px 10px 10px;
	border-bottom:1px solid #eee;
}

.panel-heading span
{
	margin-top: -26px;
	font-size: 15px;
	margin-right: -12px;
}

.clickable {
	background: rgba(0, 0, 0, 0.15);
	display: inline-block;
	padding: 6px 12px;
	border-radius: 4px;
	cursor: pointer;
}

button.close {
  display: none;
  position: absolute;
  top: -0.5em;
  left: -0.5em;
}

.popover-content {
  height: 200px;
  overflow-y: auto;
 }


.black {
	background-color: #373a3c;
	a, .profile-usertitle-name{
		color: #cccccc !important;
	}
  .active > a, .active > a:hover, .active > a:focus {
    background-color: #181a1b !important;
  }
  a:hover, a:focus {
    background-color: transparent !important;
    color: #ffffff !important;
  }
}

.white {
	background-color: #f7f7f9;
  a, .profile-usertitle-name {
    color: #777 !important;
  }
  .active > a, .active > a:hover, .active > a:focus, a:hover, a:focus {
    background-color: #f0f0f4 !important;
  }
  a:hover, a:focus {
    background-color: transparent !important;
    color: #0d0d0d !important;
  }

}

.blue {
	background-color: #e3f2fd;
	a, .profile-usertitle-name{
		color: #696969 !important;
	}
  .active > a, .active > a:hover, .active > a:focus, a:hover, a:focus  {
    background-color: #cfe9fc !important;
  }
  a:hover, a:focus {
    background-color: transparent !important;
    color: #0d0d0d !important;
  }
}

.sites {
  .col-sm-9, .col-sm-3, .col-sm-6, .col-sm-12 {
    min-height: 200px;
  }
}


.profile-userpic img {
  float: none;
  margin: 10px auto;
  width: 50%;
  height: 50%;
 /* -webkit-border-radius: 90% !important;
  -moz-border-radius: 90% !important;
  border-radius: 90% !important;*/
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.editor-panel {
  padding: 10px 0;
  min-height: 400px;
}

.well:first-child {
  margin-top: 20px;
}

.form-inline {
  display: inline-block;

  div {
    display: inline-block;
    margin: 3px 0;
  }
}

.user-info i {
  margin-right: 5px;
}

.site-rating div {
  margin: 0 auto;
}

.site-tile {
  margin-left: 15px;
}



