/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "jquery-ui";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0px;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}




/* Set gray background color and 100% height */
.sidenav {
  //padding-top: 20px;
  background-color: #f1f1f1;
  //height: 100%;
  //margin-bottom: 0px;
}

/* Set black background color, white text and some padding */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: 100%;
    padding: 15px;
  }
  .row.content {height:1auto;}
}

.height-column{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  border:1px dashed #ddd;
}
.height-row {
  height: auto; 
  overflow: hidden;
}
.dragbox{
	margin:5px 2px 2px 20px;
	background:#fff;
	position:relative;
	border:1px solid #ddd;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.placeholder{
	background: #f0f0f0;
	border:1px dashed #ddd;
}

div iframe{
	display:block; 
	margin:10px 1% 10px 1%;
	width:98%;
}
.panel {
	margin:10px 10px 10px 10px;
	border-bottom:1px solid #eee;
}

.panel-heading span
{
	margin-top: -26px;
	font-size: 15px;
	margin-right: -12px;
}

.clickable {
	background: rgba(0, 0, 0, 0.15);
	display: inline-block;
	padding: 6px 12px;
	border-radius: 4px;
	cursor: pointer;
}

button.close {
    display: none;
    position: absolute;
    top: -0.5em;
    left: -0.5em;
}

.popover-content {
  height: 200px;
  overflow-y: auto;
 }


.black {
	background-color: #373a3c;
	a {
		color: #ffffff !important;
	}
}

.white {
	background-color: #f7f7f9;

}

.blue {
	background-color: #e3f2fd;
	a {
		color: #696969 !important;
	}
}

.col-sm-9, .col-sm-3, .col-sm-6, .col-sm-12 {
    min-height: 200px;
    //margin: 0 10px;

}


.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 90% !important;
  -moz-border-radius: 90% !important;
  border-radius: 90% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}


.panel-body{
	padding:10px 0;
  min-height: 400px;
}


