// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.column{
	width:49%;
	margin-right:.5%;
	min-height:300px;
	background:#fff;
	float:left;
}

.dragbox{
  margin:5px 2px  20px;
  background:#fff;
  position:relative;
  border:1px solid #ddd;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

.column  .placeholder{
	background: #f0f0f0;
	border:1px dashed #ddd;
}

div iframe{
		display:block; 
		margin:10px 1% 10px 1%;
		width:98%;
}
.panel {
	margin:10px 10px 10px 10px;
	border-bottom:1px solid #eee;
}

.panel-heading span
{
    margin-top: -26px;
    font-size: 15px;
    margin-right: -12px;
}

.clickable {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}