<div id="flash_messages">
  <% flash.each do |type, message| %>
      <% unless message.blank? %>
          <div class='alert alert-<%= type %> alert-dismissible fade in' role='alert'>
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= message.html_safe %>
          </div>
      <% end %>
  <% end %>
</div>