
<div class="well">
  <h4><i class="fa fa-tags"></i>Tags:</h4>
  <div class="row">
    <script type="text/javascript">

      var word_array = [
        <% @tags.each do |tag| %>
        {text: "<%= tag.name %>", weight: <%= tag.taggings_count %>, link: "<%= tag_path(tag) %>" },
        <% end %>
      ];

      $(function() {
        $("#tag-cloud").jQCloud(word_array, {});
      });
    </script>
    <div id="tag-cloud" style="height: 350px; color: black;"></div>
  </div>
</div>
<div class="well">
  <h4><i class="fa fa-fire"></i> Recent sites:</h4>
  <ul>
   <% @recent_sites.each do |site| %>
       <li><%= link_to site.title, site_page_path(site, site.first_page) %></li>
    <% end %>
  </ul>
</div>
